body{
    margin-left: 291px;
    margin-right: 291px;
}
.menu {
    padding: 20px 210px;
    background-color:rgb(56, 54, 54);
}

.menu .btn-light{
    margin-right: 20px;
    justify-content: center;
    background-color: rgb(56, 54, 54);
    font-family: Arial, Helvetica, sans-serif;
  color: #FFF;
  border: none;

}
.poster {
    display: inline-block;
    position: relative;
}
#txt1,
#txt2 {
    position: absolute;
    color: #FFF;
    text-shadow: black 0.1em 0.1em 0.2em;
}
#txt1{
    top: 150px;
    margin-left:350px;
}
#txt2 {
    top: 190px;
    margin-left: 355px;
}
#photo--inicial {
    width: 899px;
   }
   .coluna--primeira {
       padding-top: 30px;
       display: flex;
   }
   .coluna--primeira img{
       width: 271px;
       margin-left: 10px;
       padding: 5px 0px 0px 2px;
       height: 210px;
   }
#parte1,
#parte2,
#parte3 {
    margin-left: 40px;
 margin-right: 28px;

}
.coluna--primeira .text-success{
    color: green;
    padding-top: 10px;
    margin-left: 70px;
    margin-top: -4px;
}
.fundo{
    background-color: rgb(173, 187, 193);
    margin-left: 12px;
    margin-right: 15px;
    height: 170px;    
}
.verdinho {
   background-color: green;
  margin-left: 80px;
  border-radius: 5px;
color: #FFF;
border: none;
  
}

.coluna--primeira .text-danger {
    color: #F00;
    margin-left: 30px;
    margin-top: 0px;
    
}
.vermelhinho {
    background-color: #F00;
   margin-left: 80px;
   border-radius: 5px;
   color: #FFF;
   border: none;
   
 }
 .fundo2 {
    background-color: rgb(173, 187, 193);
    margin-left: 12px;
    margin-right: 17px;
    height: 170px;    
}
.coluna--primeira .text-danger{
    color: #F00;
    padding-top: 10px;
    margin-left: 70px;
    margin-top: -4px;
}
 
.coluna--primeira .text-primary {
    color: #00F;
    margin-left: 30px;
    margin-top: 0px;

}
.azulzinho {
    background-color: #00F;
   margin-left: 80px;
   border-radius: 5px;
   color: #FFF;
border: none;
}
.fundo3 {
    background-color: rgb(173, 187, 193);
    margin-left: 12px;
    margin-right: 17px;
    height: 170px;    
}
.coluna--primeira .text-primary{
    color: #00F;
    padding-top: 10px;
    margin-left: 70px;
    margin-top: -4px;
}
   .coluna--segunda {
       display: flex;
   }    
   .coluna--segunda .col4 {
       margin-left: 13px;
       width: 500px;
   }
.coluna--segunda .col5 {
    margin-left: 47px;
width: 500px;
}
.fundo4 {
    background-color: rgb(173, 187, 193);
    margin-left: 0px;
    margin-right: 20px;
    height: 160px;    
    height: 100px;
    margin-top: -20px;
}
.coluna--segunda .text-primary{
    padding-top: 10px;
    margin-left: 70px;
    margin-top: -4px;
}
#parte4 {
   padding-top: 12px;
   margin-left: 30px;
   margin-right: 30px;
}
.fundo5 {
    background-color: rgb(173, 187, 193);
    margin-left: 0px;
    margin-right: 20px;
    height: 160px;    
    height: 100px;
    margin-top: -20px;
}
#parte5 {
    padding-top: 12px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0px;
}
.cinzinha {
    border-radius: 5px;
    background-color: rgb(140, 138, 136);
    color: #FFF;
    border: none;
    margin-left: 280px;
  
}
.poster2 .second--photo {
    display: inline-block;
    position: relative;
    width: 899px;
}
.poster2--frase {
    position: absolute;
    color: #FFF;
    text-shadow: black 0.1em 0.1em 0.2em;
    top: 1500px;
    margin-left:350px;

}
   .coluna--terceira {
       display: flex;
       margin-left: 20px;
       
   }
   .coluna--terceira img {
       width: 200px;
   }
   .col6,
   .col7,
   .col8,
   .col9 {
    background-color: rgb(173, 187, 193);
    margin-right: 20px;
    height: 260px;  
   }
   #parte6,
   #parte7,
   #parte8,
   #parte9 {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 0px;
   }
   .cinzinha2,
   .cinzinha3 {
    border-radius: 5px;
    background-color: rgb(140, 138, 136);
    color: #FFF;
    border: none;
    margin-left: 120px;
   }
.coluna--quarta img {
    width: 860px;
    margin-left: 22px;
}
.coluna--quarta .texto-longo {
    background-color: rgb(173, 187, 193);
    margin-left: 22px;
    margin-right: 18px;
   height: 180px;
    margin-top: -26px;
}
#informativo,
.titulo--quarta {
    padding-top: 5px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 0px;
}
.readmore {
      margin-left: 25px;
   border-radius: 5px;
  color: #FFF;
  background-color: rgb(140, 138, 136);
margin-top: 15px;
border: none;
}
.extras {
    padding-top: 20px;
    margin-left: 35px;
    margin-right: 20px;
}
.contato {
    margin-left: 350px;
    font-size: 45px;
    font-family: 'Big Shoulders Stencil Display', cursive;
}
.info {
    background-color: rgb(173, 187, 193);
    margin-left: 100px;
    margin-right: 100px;
   height: 100px;
   margin-top: -30px;
}
.info-pessoais {
    margin-left: 250px;
    float: left;
}
.info-extra {
 
   padding-left: 450px;
}
.info-extra .comentario {
    height: 100px;
}
footer {
   padding-top: 0px;
}
@media (min-width: 600px) and (max-width: 1215px){
    .menu {
        padding: 20px 450px;
}
navbar {
    display: flex;
    margin-left: -280px;
}
.text-success,
.text-danger,
.text-primary {
    color: green;
    padding-top: 10px;
    margin-left: 70px;
    width: 201px;
    margin-top: -4px;
}
.fundo4,
.fundo5 {
    background-color: rgb(173, 187, 193);
    margin-left: 0px;
    margin-right: 20px;
    height: 100px;    
   width: 400px;
    margin-top: -20px;
}
.coluna--quarta .texto-longo {
    background-color: rgb(173, 187, 193);
    margin-left: 22px;
    margin-right: 18px;
   height: 180px;
   width: 860px;
    margin-top: -26px;
}
.contato {
    margin-left: 320px;
    font-size: 45px;
    width: 150px;
    font-family: 'Big Shoulders Stencil Display', cursive;
}
.info {
    background-color: rgb(173, 187, 193);
    margin-left: 100px;
    margin-right: 100px;
   height: 100px;
   width: 580px;
   margin-top: -30px;
}
hr {
    width: 870px;
}



































